/* Global styles and settings */
@import url(https://fonts.googleapis.com/css?family=Lato:400|Josefin+Sans:700);
* {
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
}
body {
  background: #fff;
  font-size: 15px;
  font-weight: 400;
  font-family: Lato, sans-serif;
  box-sizing: border-box;
  color: #212121;
  line-height: 25px;
  backface-visibility: hidden;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
  font-size: 36px;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
}
a:hover {
  text-decoration: none;
}
a a:focus {
  outline: 0;
}
p {
  font-weight: 400;
  font-family: Lato, sans-serif;
  margin: 0;
  font-size: 14px;
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

.section-title-header p {
  text-align: center;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 36px;
}
.section-title {
  font-size: 36px;
  color: #212121;
  line-height: 52px;
  padding-bottom: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 15px;
}
.inner-title {
  font-size: 24px;
  font-weight: 700;
}
.page-title {
  font-size: 62px;
  font-weight: 700;
  color: #fff;
}
.btn {
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
}
.btn i {
  margin-right: 5px;
}
.btn:active,
.btn:focus {
  box-shadow: none;
  outline: 0;
  color: #fff;
}
.btn-common {
  background-color: #a846c3;
  position: relative;
  z-index: 1;
}
.btn-common:hover {
  color: #fff;
  background: #a846c3;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
}
.btn-border {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}
.btn-border:hover {
  color: #fff;
  background-color: #a846c3;
}
.btn-lg {
  padding: 12px 34px;
  text-transform: uppercase;
  font-size: 14px;
}
.btn-rm {
  padding: 7px 10px;
  text-transform: capitalize;
}
button:focus {
  outline: 0 !important;
}
.icon-check {
  color: #a846c3;
}
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
}
a.back-to-top i {
  display: block;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #a846c3;
  border-radius: 0;
  text-align: center;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}
a.back-to-top:focus,
a.back-to-top:hover {
  text-decoration: none;
}
.section-padding {
  padding: 60px 0;
}
.no-padding {
  padding: 0 !important;
}

/* Navbar Styles Start */
.navbar-brand {
  position: relative;
  padding: 0;
}
.navbar-brand img {
  width: 20%;
}
.top-nav-collapse {
  background: #fff;
  z-index: 999999;
  top: 0 !important;
  min-height: 58px;
  box-shadow: 0 3px 6px 3px rgba(0, 0, 0, 0.06);
  background: #fff !important;
}
.top-nav-collapse .navbar-brand {
  top: 0;
}
.top-nav-collapse .navbar-nav .nav-link {
  color: #212121 !important;
}
.top-nav-collapse .navbar-nav .nav-link:hover {
  color: #a846c3 !important;
}
.top-nav-collapse .navbar-nav li.active a.nav-link {
  color: #a846c3 !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
  padding: 0 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 40px;
  text-transform: uppercase;
  background: 0 0;
  position: relative;
}
.navbar-expand-lg .navbar-nav li .active > a,
.navbar-expand-lg .navbar-nav li a:focus,
.navbar-expand-lg .navbar-nav li a:hover {
  color: #a846c3;
  outline: 0;
}
.navbar-expand-lg .navbar-nav .nav-link:focus,
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #a846c3 !important;
}
.navbar {
  padding: 0;
}
.navbar li.active a.nav-link {
  color: #a846c3 !important;
}
.slicknav_btn {
  border-color: #a846c3;
}
.slicknav_menu .slicknav_icon-bar {
  background: #a846c3;
}
@media (min-width: 768px) and (max-width: 991px) {
  #nav-main li a.nav-link {
    padding-top: 18px;
  }
}
.navbar-toggler {
  display: none;
}
.slicknav_menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-brand {
    position: absolute;
    top: 0;
    max-width: 75%;
    height: 4rem;
  }
  .navbar-brand img {
    width: auto;
    height: 100%;
  }
  .slicknav_menu {
    display: block;
  }
  .slicknav_nav .active a {
    background: #a846c3;
    color: #fff;
  }
  .slicknav_nav .active,
  .slicknav_nav a:hover {
    color: #a846c3;
    background: #f5f5f5;
  }
}
/* Navbar Styles End */

/* Links Section Start */
.links-item {
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
  transition: all 0.3s ease-in-out;
}
.links-item .links-text {
  padding: 20px;
  background: #fff;
}
.links-item .links-text h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.links-item .links-text h3 a {
  color: #212121;
}
.links-item .links-text h3 a:hover {
  color: #a846c3;
}
.links-item .links-text .btn {
  margin-top: 10px;
}
.links-item:hover {
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.1);
}
/*Links Section End */

/* Sponsors Section Start */
#sponsors {
  background: #f3f4f3;
}
#sponsors .spnsors-logo {
  text-align: center;
  border-radius: 4px;
  margin-bottom: 30px;
  display: inline-block;
  border: 1px solid #ddd;
  background: #fff;
}
#sponsors .spnsors-logo:hover {
  border-color: transparent;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}
/* Sponsors Section End */

/* Values Section Start */
.values {
  background: #fff;
}
.padding-none {
  padding: 0;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
/* Just setting borders for table*/
/* row 1 */
.padding-none:nth-child(1) {
  border-left: none;
  border-top: none;
}
.padding-none:nth-child(2) {
  border-top: none;
}
.padding-none:nth-child(3) {
  border-top: none;
  border-right: none;
}

/* row 2 */
.padding-none:nth-child(4) {
  border-bottom: none;
  border-left: none;
}
.padding-none:nth-child(5) {
  border-bottom: none;
}
.padding-none:nth-child(6) {
  border-bottom: none;
}

.values-wrapper {
  margin-top: 30px;
}
.values-item {
  padding: 40px 20px;
  text-align: center;
}
.values-item .icon i {
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 50px;
  font-size: 48px;
  text-align: center;
  margin-bottom: 15px;
  color: #a846c3;
  border-radius: 0;
}
.values-item .values-content h3 {
  margin-bottom: 10px;
  line-height: 26px;
}
.values-item .values-content h3 a {
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 400;
  color: #212121;
}
.values-item:hover {
  background: #f3f3f3;
}
.values-item:hover .icon i {
  background: 0 0;
  color: #a846c3;
}
/* Values Section End */

/* Gallery Section Start */
#gallery {
  background: #f3f4f3;
  position: relative;
}
#gallery .gallery-box {
  position: relative;
  margin-bottom: 30px;
}
/* Gallery Section End */ 

/* Team Section Start */
.team-item:hover {
  box-shadow: 0 25px 35px -12px rgba(0, 0, 0, 0.35);
}
.team-item {
  margin: 15px 0;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.17);
}
.team-item h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 5px;
}
.team-item .stack-top {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  margin: 0 10px 10px 0;
  padding: 10px;
  border-radius: 4px;
}
.team-item .big-text {
  padding: 10px;
}
.team-item .big-text p {
  text-align: left;
}
.team-item .big-text h3 {
  margin-bottom: 5px;
}
.team-item .team-img {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  display: block;
  margin: auto;
  height: 100%;
}
.team-item .info-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 15px 20px;
  background: #f3f4f3;
  text-align: left;
}
.team-item .info-text h3 a {
  color: #212121;
}
.team-item .info-text h3 a:hover {
  color: #a846c3;
}
.team-item .info-text p {
  margin: 0;
  color: #888;
}
/* Team Section End */

/* Title Section Start */
#title img {
  position: relative;
  width: 100%;
  top: -40%;
}

#title .title-caption .heading {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
}
#title .title-caption p {
  font-size: 20px;
}
#title .title-caption {
  opacity: 1;
  z-index: 1;
}

.title-caption {
  color: #fff;
  position: absolute;
  top: 35%;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.title-caption .btn {
  margin: 25px 25px 0 0;
}

#title img {
  position: relative;
  width: 100%;
  top: -40%;
}

#title {
  display: block;
  position: relative;
  width: 100%;
}
/* Title Section End */